img(class='background', src='../images/flower_watermark.jpg')

h1(alt=path) Hungry Adelaide Recipes

form
  p
    input(name='p', value=p)
    input(type='submit') Search

each recipe in recipes
  div
    a(href=recipe.FileName) #{recipe.Name}
    if recipe.Source
      &nbsp;-
      span #{recipe.Source.Name}
    each part in recipe.Parts
      if part.PreparationMethod
        &nbsp;-
        span #{part.PreparationMethod.Name}
    if recipe.Tags
      br
      &nbsp;&nbsp;&nbsp;&nbsp;
      each tag in recipe.Tags
        a(class='tag',href='/recipes/?p=tag:#{tag.Name}')=tag.Name
